# Ignore node_modules folder (dependencies)
node_modules/

# Cache and temp files
.cache/
.eslintcache

# Build output (if using npm run build)
build/
dist/

# Environment variables
.env
.env.local

# MacOS specific files
.DS_Store
.vscode/
.idea/
